In [1]:
li = [110,105,115,120,110,130,150,100,105]

In [2]:
li

[110, 105, 115, 120, 110, 130, 150, 100, 105]

In [3]:
import pandas as pd
df = pd.DataFrame(li, columns=['price'])
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

# Normalization

In [4]:
min_price = df.price.min()
max_price = df.price.max()

In [5]:
min_price

100

In [6]:
max_price

150

In [7]:
df['price_norm_manual'] = (df.price - min_price ) / (max_price - min_price)

In [8]:
df.head()

   price  price_norm_manual
0    110                0.2
1    105                0.1
2    115                0.3
3    120                0.4
4    110                0.2

In [9]:
from sklearn.preprocessing import MinMaxScaler
mmx = MinMaxScaler() #feature_range=(2,5)

In [10]:
df['price_norm_sklearn'] = mmx.fit_transform(df[['price']])

In [11]:
df.head()

   price  price_norm_manual  price_norm_sklearn
0    110                0.2                 0.2
1    105                0.1                 0.1
2    115                0.3                 0.3
3    120                0.4                 0.4
4    110                0.2                 0.2

# Standardization / standard scaler

In [12]:
mean_price = df.price.mean()
std = df.price.std()

In [13]:
df['price_std_manual'] = (df['price'] - mean_price) / std

In [14]:
df.head()

   price  price_norm_manual  price_norm_sklearn  price_std_manual
0    110                0.2                 0.2         -0.392544
1    105                0.1                 0.1         -0.713717
2    115                0.3                 0.3         -0.071372
3    120                0.4                 0.4          0.249801
4    110                0.2                 0.2         -0.392544

In [15]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

In [16]:
df['price_std_sklearn'] = scaler.fit_transform(df[['price']])

In [17]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.392544,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701
3,120,0.4,0.4,0.249801,0.264954
4,110,0.2,0.2,-0.392544,-0.416356
5,130,0.6,0.6,0.892146,0.946264
6,150,1.0,1.0,2.176837,2.308884
7,100,0.0,0.0,-1.034890,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011

In [18]:
std_dof = df.price.std(ddof=0)

In [19]:
std_dof

14.677605348469896

In [20]:
std_dof1 = df.price.std(ddof=1)
std_dof1

15.567951410224504

In [21]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.392544,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701
3,120,0.4,0.4,0.249801,0.264954
4,110,0.2,0.2,-0.392544,-0.416356
5,130,0.6,0.6,0.892146,0.946264
6,150,1.0,1.0,2.176837,2.308884
7,100,0.0,0.0,-1.034890,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011

In [22]:
df['price_std_manual2'] = (df['price'] - mean_price) / std_dof1

In [23]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2
0,110,0.2,0.2,-0.392544,-0.416356,-0.392544
1,105,0.1,0.1,-0.713717,-0.757011,-0.713717
2,115,0.3,0.3,-0.071372,-0.075701,-0.071372
3,120,0.4,0.4,0.249801,0.264954,0.249801
4,110,0.2,0.2,-0.392544,-0.416356,-0.392544
5,130,0.6,0.6,0.892146,0.946264,0.892146
6,150,1.0,1.0,2.176837,2.308884,2.176837
7,100,0.0,0.0,-1.034890,-1.097666,-1.034890
8,105,0.1,0.1,-0.713717,-0.757011,-0.713717

In [24]:
df['price_std_manual2'] = (df['price'] - mean_price) / std_dof

In [25]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701
3,120,0.4,0.4,0.249801,0.264954,0.264954
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356
5,130,0.6,0.6,0.892146,0.946264,0.946264
6,150,1.0,1.0,2.176837,2.308884,2.308884
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011

# Log Transformation

In [26]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [27]:
fc = FunctionTransformer(np.log1p)
df['price_fc'] = fc.fit_transform(df[['price']])
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439

In [28]:
df['fc_np'] = np.log1p(df[['price']])

In [29]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439

# Robust Scaler

In [30]:
from sklearn.preprocessing import MaxAbsScaler

In [31]:
mx = MaxAbsScaler()

In [32]:
df['mx_abs'] = mx.fit_transform(df[['price']])

In [33]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np,mx_abs
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590,0.766667
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791,0.800000
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197,0.866667
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280,1.000000
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121,0.666667
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000

# Generate an Excel file for the given dataset. Utilize Python for all the  calculations.

In [34]:
import pandas as pd

prices = [110, 105, 115, 120, 110, 130, 150, 100, 105]


data = {'Price': prices}
df = pd.DataFrame(data)


excel_file_path = 'prices_dataset.xlsx'
df.to_excel(excel_file_path, index=False)

print(f"Excel file saved at: {excel_file_path}")

Excel file saved at: prices_dataset.xlsx